openapi: 3.0.0
info:
  title: NYCU Dataverse Native & Access Search API
  description: OpenAPI description served by the National Yang Ming Chiao Tung University (NYCU) Dataverse research-data repository (Dataverse Project v5.10.1) at https://dataverse.lib.nycu.edu.tw. Captured unmodified from the live /openapi endpoint; only the servers and info blocks were adjusted to point at the public base URL.
  version: 5.10.1
servers:
- url: https://dataverse.lib.nycu.edu.tw
  description: NYCU Dataverse production instance.
tags:
- name: Search
paths:
  /api/v1/search:
    get:
      operationId: search
      parameters:
      - name: q
        in: query
        schema:
          type: string
      - name: type
        in: query
        schema:
          type: array
          items:
            type: string
      - name: subtree
        in: query
        schema:
          type: array
          items:
            type: string
      - name: sort
        in: query
        schema:
          type: string
      - name: order
        in: query
        schema:
          type: string
      - name: per_page
        in: query
        schema:
          type: integer
      - name: start
        in: query
        schema:
          type: integer
      - name: show_relevance
        in: query
        schema:
          type: boolean
      - name: show_facets
        in: query
        schema:
          type: boolean
      - name: fq
        in: query
        schema:
          type: array
          items:
            type: string
      - name: show_entity_ids
        in: query
        schema:
          type: boolean
      - name: show_api_urls
        in: query
        schema:
          type: boolean
      - name: show_my_data
        in: query
        schema:
          type: boolean
      - name: query_entities
        in: query
        schema:
          type: boolean
      - name: metadata_fields
        in: query
        schema:
          type: array
          items:
            type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Search
